* {
    outline:none;
}

body {
    font-family:"Questrial", sans-serif;
    text-align:center;
    background-color:#F0F0F0;
}

#main {
    position:fixed;
    left:50%;
    top:40%;
    transform:translate(-50%,-50%);
}

#letter {
    width:30px;
    height:30px;
    border:transparent solid 1px;
    border-radius:5px;
    text-align:center;
    background-color:white;
}