* {
    outline:none;
}

body {
    font-family:"Questrial", sans-serif;
    text-align:center;
    background-color:#F0F0F0;
}

#alertBox {
    background-color:whitesmoke;
    width:fit-content;
    padding:5px;
    margin:auto;
    border-radius:5px;
    position:fixed;
    left:50%;
    transform:translateX(-50%);
    z-index:2;
}

button {
    cursor:pointer;
    transition:all 0.25s;
}
input {
    transition:all 0.25s;
}

#restart {
    background-color:rgb(0,200,255);
    width:125px;
    height:35px;
    border-radius:5px;
    border:transparent solid 3px;
    position:fixed;
    right:5px;
    bottom:5px;
}
#restart:hover {
    background-color:rgb(0,180,255);
}
#restart:active {
    border:rgb(0,130,255) solid 3px;
}

#main {
    position:absolute;
    left:50%;
    top:40%;
    transform:translate(-50%,-50%);
}

#letter {
    width:30px;
    height:30px;
    border:transparent solid 1px;
    border-radius:5px;
    text-align:center;
    background-color:white;
}
#letter:hover {
    background-color:rgb(247,247,247);
}
#letter:focus {
    background-color:rgb(247,247,247);
}

#guessLetter {
    height:32px;
    border-radius:5px;
    background-color:rgb(255, 110, 110);
    border:transparent solid 3px;
}
#guessLetter:hover {
    background-color:rgb(255,100,100)
}
#guessLetter:active {
    border:rgb(255,50,50) solid 3px;
}

#alreadyGuessed {
    background-color:white;
    border-radius:5px;
    padding-bottom:15px;
    width:250px;
    position:fixed;
    bottom:-125px;
    left:50%;
    transform:translateX(-50%);
}

#letterContainer {
    width:200px;
    margin:auto;
    font-size:20px;
}

#dashArea {
    font-size:24px;
}